// list07
section.list_07(data-menu='true')
	.layoutWrap
		h2.title JUKSY TOPIC
		ul.article
			li
				a.img.showOnScroll(data-show-offset='100', data-show-animation='custom_tiltinup', href='https://www.juksy.com/archives/64880', target='_blank', data-module='lazy_image', data-lazyimg='./img/article01.jpg')
					.linkWrap
				.txtWrap
					a.txt(data-module='dotdotdot', href='https://www.juksy.com/archives/64880', target='_blank')
						h3 【回家才Dope】又酷又愛家的帥才叫帥！盤點反差感破錶的「兒女控」藝人
			li
				a.img.showOnScroll(data-show-offset='100', data-show-animation='custom_tiltinup', href='https://www.juksy.com/archives/64366', target='_blank', data-module='lazy_image', data-lazyimg='./img/article02.jpg')
					.linkWrap
				.txtWrap
					a.txt(data-module='dotdotdot', href='https://www.juksy.com/archives/64366', target='_blank')
						h3 這是饒舌你知道的！這 7 首 RAP 歌曲讓你知道「想媽媽」也是很潮的事
			li
				a.img.showOnScroll(data-show-offset='100', data-show-animation='custom_tiltinup', href='https://www.juksy.com/archives/64367', target='_blank', data-module='lazy_image', data-lazyimg='./img/article03.jpg')
					.linkWrap
				.txtWrap
					a.txt(data-module='dotdotdot', href='https://www.juksy.com/archives/64367', target='_blank')
						h3 「理解勇氣是件困難的事！」　盤點回家才 Dope 的「態度電影」Top 5
// list07 end