// list07
section.list_07(data-menu='true')
	.layoutWrap
		h2.title JUKSY TOPIC
		ul.article
			li
				a.img.showOnScroll(data-show-offset='100', data-show-animation='custom_tiltinup', href='https://www.juksy.com/archives/66002', target='_blank', data-module='lazy_image', data-lazyimg='./img/article01.jpg')
					.linkWrap
				.txtWrap
					a.txt(data-module='dotdotdot', href='https://www.juksy.com/archives/66002', target='_blank')
						h3 你的全裸女神上榜了嗎？「一脫成名」女演員 Top5　車震、露點、床戰沒在怕
			li
				a.img.showOnScroll(data-show-offset='100', data-show-animation='custom_tiltinup', href='https://www.juksy.com/archives/66193', target='_blank', data-module='lazy_image', data-lazyimg='./img/article02.jpg')
					.linkWrap
				.txtWrap
					a.txt(data-module='dotdotdot', href='https://www.juksy.com/archives/66193', target='_blank')
						h3 隱藏版大公開！台北 3 大「懸崖式」打卡景點　心臟也要夠力啊！
			li
				a.img.showOnScroll(data-show-offset='100', data-show-animation='custom_tiltinup', href='https://www.juksy.com/archives/66218', target='_blank', data-module='lazy_image', data-lazyimg='./img/article03.jpg')
					.linkWrap
				.txtWrap
					a.txt(data-module='dotdotdot', href='https://www.juksy.com/archives/66218', target='_blank')
						h3 「台灣『性』創作不該停滯！」　男體攝影師以超尺度作品流露男性情慾
			//- li
			//- 	a.img.showOnScroll(data-show-offset='100', data-show-animation='custom_tiltinup', href='https://www.juksy.com/archives/66331', target='_blank', data-module='lazy_image', data-lazyimg='./img/article04.jpg')
			//- 		.linkWrap
			//- 	.txtWrap
			//- 		a.txt(data-module='dotdotdot', href='https://www.juksy.com/archives/66331', target='_blank')
			//- 			h3 何謂「私寫真」？你一定感興趣的赤裸寫實文化！三分鐘帶你透過影像瀏覽人生百態
			li
				a.img.showOnScroll(data-show-offset='100', data-show-animation='custom_tiltinup', href='https://www.juksy.com/archives/65679', target='_blank', data-module='lazy_image', data-lazyimg='./img/article05.jpg')
					.linkWrap
				.txtWrap
					a.txt(data-module='dotdotdot', href='https://www.juksy.com/archives/65679', target='_blank')
						h3 網民肉搜「承認整形韓星 Top 10 」！網友：第 3 位根本自然啊...
// list07 end