// list08
section.list_08(data-menu='true')
	.layoutWrap
		h2.title CLASSIC FASHION
		ul.article
			li.showOnScroll(data-show-offset='100', data-show-animation='custom_tiltinup')
				a.img(href='https://www.juksy.com/archives/66484', target='_blank', style='background-image:url("https://static.juksy.com/files/cover/66484/592e7bd010884.png?m=resize&i=760x400&e=jpg&q=75");')
					.linkWrap(style='background-image: repeating-linear-gradient(45deg, #3aecff, #ffff4c, #c280ff) , url("https://static.juksy.com/files/cover/66484/592e7bd010884.png?m=resize&i=760x400&e=jpg&q=75");')
						.txt READ MORE
				.txtWrap
					a.txt(data-module='dotdotdot', href='https://www.juksy.com/archives/66484', target='_blank')
						h3 男女都有份！史上這 6 大潮流最不符合人體工學　簡直殺人不眨眼！
				.date May 31.2017 | by liam
			li.showOnScroll(data-show-offset='100', data-show-animation='custom_tiltinup')
				a.img(href='https://www.juksy.com/archives/66326', target='_blank', style='background-image:url("https://static.juksy.com/files/cover/66326/592fc7bfbbe51.png?m=resize&i=760x400&e=jpg&q=75");')
					.linkWrap(style='background-image: repeating-linear-gradient(45deg, #3aecff, #ffff4c, #c280ff) , url("https://static.juksy.com/files/cover/66326/592fc7bfbbe51.png?m=resize&i=760x400&e=jpg&q=75");')
						.txt READ MORE
				.txtWrap
					a.txt(data-module='dotdotdot', href='https://www.juksy.com/archives/66326', target='_blank')
						h3 HOT ISSUE: 「惡女辣禁區」大膽內衣外穿搭！
				.date Jun 8.2017 | by cloudchen
			li.showOnScroll(data-show-offset='100', data-show-animation='custom_tiltinup')
				a.img(href='https://www.juksy.com/archives/66149', target='_blank', style='background-image:url("https://static.juksy.com/files/cover/66149/5925398737110.png?m=resize&i=760x400&e=jpg&q=75");')
					.linkWrap(style='background-image: repeating-linear-gradient(45deg, #3aecff, #ffff4c, #c280ff) , url("https://static.juksy.com/files/cover/66149/5925398737110.png?m=resize&i=760x400&e=jpg&q=75");')
						.txt READ MORE
				.txtWrap
					a.txt(data-module='dotdotdot', href='https://www.juksy.com/archives/66149', target='_blank')
						h3 原來歐爸偷化妝？韓國男星「3 大嫩肌妝容重點 」型男必學！
				.date May 22.2017 | by hsiunghsi
			li.showOnScroll(data-show-offset='100', data-show-animation='custom_tiltinup')
				a.img(href='https://www.juksy.com/archives/65680', target='_blank', style='background-image:url("https://static.juksy.com/files/cover/65680/59197313a9f4f.png?m=resize&i=760x400&e=jpg&q=75");')
					.linkWrap(style='background-image: repeating-linear-gradient(45deg, #3aecff, #ffff4c, #c280ff) , url("https://static.juksy.com/files/cover/65680/59197313a9f4f.png?m=resize&i=760x400&e=jpg&q=75");')
						.txt READ MORE
				.txtWrap
					a.txt(data-module='dotdotdot', href='https://www.juksy.com/archives/65680', target='_blank')
						h3 盤點「特殊妝容趨勢 Top 6 」！網友：唐代竟然早在畫酒醉妝了...
				.date May 9.2017 | by hsiunghsi
			li.showOnScroll(data-show-offset='100', data-show-animation='custom_tiltinup')
				a.img(href='https://www.juksy.com/archives/66259', target='_blank', style='background-image:url("https://static.juksy.com/files/cover/66259/59265fdc229a9.png?m=resize&i=760x400&e=jpg&q=75");')
					.linkWrap(style='background-image: repeating-linear-gradient(45deg, #3aecff, #ffff4c, #c280ff) , url("https://static.juksy.com/files/cover/66259/59265fdc229a9.png?m=resize&i=760x400&e=jpg&q=75");')
						.txt READ MORE
				.txtWrap
					a.txt(data-module='dotdotdot', href='https://www.juksy.com/archives/66259', target='_blank')
						h3 玩潮玩到出神入化，盤點「神人級」創意潮牌客製單品 TOP 3
				.date May 24.2017 | by yeee719
			li.showOnScroll(data-show-offset='100', data-show-animation='custom_tiltinup')
				a.img(href='https://www.juksy.com/archives/66190', target='_blank', style='background-image:url("https://static.juksy.com/files/cover/66190/592e79d92b06f.png?m=resize&i=760x400&e=jpg&q=75");')
					.linkWrap(style='background-image: repeating-linear-gradient(45deg, #3aecff, #ffff4c, #c280ff) , url("https://static.juksy.com/files/cover/66190/592e79d92b06f.png?m=resize&i=760x400&e=jpg&q=75");')
						.txt READ MORE
				.txtWrap
					a.txt(data-module='dotdotdot', href='https://www.juksy.com/archives/66190', target='_blank')
						h3 誰說男生不能穿裙？細數大家難以接受卻很前衛的造型單品
				.date May 22.2017 | by Alec
// list08 end