// list08
section.list_08(data-menu='true')
	.layoutWrap
		h2.title CLASSIC FASHION
		ul.article
			li.showOnScroll(data-show-offset='100', data-show-animation='custom_tiltinup')
				a.img(href='https://www.juksy.com/archives/65115', target='_blank', style='background-image:url("https://static.juksy.com/files/cover/65115/5902f2443abb5.png?m=resize&i=760x400&e=jpg&q=75");')
					.linkWrap(style='background-image: repeating-linear-gradient(45deg, #3aecff, #ffff4c, #c280ff) , url("https://static.juksy.com/files/cover/65115/5902f2443abb5.png?m=resize&i=760x400&e=jpg&q=75");')
						.txt READ MORE
				.txtWrap
					a.txt(data-module='dotdotdot', href='https://www.juksy.com/archives/65115', target='_blank')
						h3 出門倒垃圾也時尚！盤點 3 個隨便搭都好看的慵懶單品
				.date Apr 24.2017 | by Alec
			li.showOnScroll(data-show-offset='100', data-show-animation='custom_tiltinup')
				a.img(href='https://www.juksy.com/archives/65171', target='_blank', style='background-image:url("https://static.juksy.com/files/cover/65171/58ff2dcd9a795.png?m=resize&i=760x400&e=jpg&q=75");')
					.linkWrap(style='background-image: repeating-linear-gradient(45deg, #3aecff, #ffff4c, #c280ff) , url("https://static.juksy.com/files/cover/65171/58ff2dcd9a795.png?m=resize&i=760x400&e=jpg&q=75");')
						.txt READ MORE
				.txtWrap
					a.txt(data-module='dotdotdot', href='https://www.juksy.com/archives/65171', target='_blank')
						h3 男孩必學！最簡易的夏日「兩片式」穿搭公式　慵懶也能很有型！
				.date Apr 25.2017 | by liam
			li.showOnScroll(data-show-offset='100', data-show-animation='custom_tiltinup')
				a.img(href='https://www.juksy.com/archives/64723', target='_blank', style='background-image:url("https://static.juksy.com/files/cover/64723/58fdc69807fff.png?m=resize&i=760x400&e=jpg&q=75");')
					.linkWrap(style='background-image: repeating-linear-gradient(45deg, #3aecff, #ffff4c, #c280ff) , url("https://static.juksy.com/files/cover/64723/58fdc69807fff.png?m=resize&i=760x400&e=jpg&q=75");')
						.txt READ MORE
				.txtWrap
					a.txt(data-module='dotdotdot', href='https://www.juksy.com/archives/64723', target='_blank')
						h3 除了球鞋你還有其他選擇！這 5 雙一秒上腳的懶人鞋　可以讓你早上多睡 10 分鐘
				.date Apr 13.2017 | by liam
			li.showOnScroll(data-show-offset='100', data-show-animation='custom_tiltinup')
				a.img(href='https://www.juksy.com/archives/65096', target='_blank', style='background-image:url("https://static.juksy.com/files/cover/65096/59005e1df318f.png?m=resize&i=760x400&e=jpg&q=75");')
					.linkWrap(style='background-image: repeating-linear-gradient(45deg, #3aecff, #ffff4c, #c280ff) , url("https://static.juksy.com/files/cover/65096/59005e1df318f.png?m=resize&i=760x400&e=jpg&q=75");')
						.txt READ MORE
				.txtWrap
					a.txt(data-module='dotdotdot', href='https://www.juksy.com/archives/65096', target='_blank')
						h3 今年沒踩拖鞋出門不算潮！特搜「潮出水有型拖 Top 11 」 網友：選擇障礙啊...
				.date May 11.2017 | by hsiunghsi
			li.showOnScroll(data-show-offset='100', data-show-animation='custom_tiltinup')
				a.img(href='https://www.juksy.com/archives/65277', target='_blank', style='background-image:url("https://static.juksy.com/files/cover/65277/5901b033b37fc.png?m=resize&i=760x400&e=jpg&q=75");')
					.linkWrap(style='background-image: repeating-linear-gradient(45deg, #3aecff, #ffff4c, #c280ff) , url("https://static.juksy.com/files/cover/65277/5901b033b37fc.png?m=resize&i=760x400&e=jpg&q=75");')
						.txt READ MORE
				.txtWrap
					a.txt(data-module='dotdotdot', href='https://www.juksy.com/archives/65277', target='_blank')
						h3 舊衣新穿一樣潮！這些「媽媽系復古單品」超經典　原來媽媽才是狠角色！
				.date Apr 27.2017 | by aguai1011
			li.showOnScroll(data-show-offset='100', data-show-animation='custom_tiltinup')
				a.img(href='https://www.juksy.com/archives/65278', target='_blank', style='background-image:url("https://static.juksy.com/files/cover/65278/5901af2779323.png?m=resize&i=760x400&e=jpg&q=75");')
					.linkWrap(style='background-image: repeating-linear-gradient(45deg, #3aecff, #ffff4c, #c280ff) , url("https://static.juksy.com/files/cover/65278/5901af2779323.png?m=resize&i=760x400&e=jpg&q=75");')
						.txt READ MORE
				.txtWrap
					a.txt(data-module='dotdotdot', href='https://www.juksy.com/archives/65278', target='_blank')
						h3 特搜 CP 值爆表「媽媽美妝 Top 6 」 網友：薑還是老的辣...
				.date May 11.2017 | by hsiunghsi
// list08 end