// list09
section.list_09(data-menu='true')
	.layoutWrap
		h2.title JUKSY STAR
		.article
			ul.pic.showOnScroll(data-show-offset='100', data-show-animation='custom_R2Lflow')
				li.now
					a.img(href='https://www.juksy.com/archives/66311', target='_blank', data-module='lazy_image', data-lazyimg='https://static.juksy.com/files/cover/66311/593a28c7956f9.png?m=resize&i=600x600&e=jpg&q=75')
				li
					a.img(href='https://www.juksy.com/archives/66328', target='_blank', data-module='lazy_image', data-lazyimg='https://static.juksy.com/files/cover/66328/593a28f4888a1.png?m=resize&i=600x600&e=jpg&q=75')
			.txt
				ul.dateWrap
					li.now
						.date 5
						.month JUN
							br
							| 2017
						.author by cloudchen
					li
						.date 8
						.month JUN
							br
							| 2017
						.author by cloudchen
				ul.main
					li.now
						.atitleWrap.showOnScroll(data-show-offset='100', data-show-animation='custom_fadeinup')
							a.atitle(data-module='dotdotdot', href='https://www.juksy.com/archives/66311', target='_blank')
								h3 坐擁百萬粉的「大馬潤娥」四葉草：我超大膽什麼都不怕！但就怕「 X 」這件事
						.detail.showOnScroll(data-show-offset='100', data-show-animation='custom_fadeinup', data-module='dotdotdot') 「好想你～好想你～好想你～好想你！」不認識她的人一定也聽過這首洗腦神曲，她是「馬來西亞國民女神」20歲的新生代創作新星 - 四葉草，2015年以一曲《好想你》成功在台灣打開知名度，她自學精通多項才藝、也曾成功申請英國倫敦藝術大學入學，就在此時她遇見了人生中的伯樂 - 黃明志，將她簽下進入演藝圈，徹底的改變了她的人生，至今坐擁百萬人氣粉絲，證明了她適合在這樣的世界舞台上發光！不管你是那百萬人之一或是百萬人之外，都一定會好奇20歲的她到底是怎麼樣的一個女生？
						a.button.showOnScroll(data-show-offset='100', data-show-animation='custom_fadeinup', href='https://www.juksy.com/archives/66311', target='_blank') Read More >>
					li
						.atitleWrap.showOnScroll(data-show-offset='100', data-show-animation='custom_fadeinup')
							a.atitle(data-module='dotdotdot', href='https://www.juksy.com/archives/66328', target='_blank')
								h3 你沒看過的「潮版」四葉草來了！「撞色穿搭資優學」紅、綠、藍、黃恣意組合的穿搭公式
						.detail.showOnScroll(data-show-offset='100', data-show-animation='custom_fadeinup', data-module='dotdotdot') 你必須學會的色彩心機，別忘了人是視覺動物！黑白灰穿搭、Onetone 穿搭、撞色穿搭，有關以「顏色」為主題的造型，就屬這三種方式最常見，其中的撞色一定最令人不敢嘗試！因為它很不安全、容易出錯，不過如果你抓到秘訣，造型效果就會保證驚艷全場！此次就由四葉草來示範最簡單的「色彩穿搭公式」讓大家可以輕鬆駕馭撞色穿搭！
						a.button.showOnScroll(data-show-offset='100', data-show-animation='custom_fadeinup', href='https://www.juksy.com/archives/66328', target='_blank') Read More >>
			.navWrap
				.nav
					.btn.left.end <
					.number
						span.now 1
						| /
						span.total 2
					.btn.right >
// list09 end