// list09
section.list_09(data-menu='true')
	.layoutWrap
		h2.title JUKSY STAR
		.article
			ul.pic.showOnScroll(data-show-offset='100', data-show-animation='custom_R2Lflow')
				li.now
					a.img(href='https://www.juksy.com/archives/66011', target='_blank', data-module='lazy_image', data-lazyimg='https://static.juksy.com/files/cover/66011/591c0a948a2c9.png?m=resize&i=600x600&e=jpg&q=75')
				li
					a.img(href='https://www.juksy.com/archives/65288', target='_blank', data-module='lazy_image', data-lazyimg='https://static.juksy.com/files/cover/65288/59099ee24739e.png?m=resize&i=600x600&e=jpg&q=75')
				li
					a.img(href='https://www.juksy.com/archives/64816', target='_blank', data-module='lazy_image', data-lazyimg='https://static.juksy.com/files/cover/64816/590aacdf15ee0.png?m=resize&i=600x600&e=jpg&q=75')
				li
					a.img(href='https://www.juksy.com/archives/65168', target='_blank', data-module='lazy_image', data-lazyimg='https://static.juksy.com/files/cover/65168/590aa00084c9c.png?m=resize&i=600x600&e=jpg&q=75')
			.txt
				ul.dateWrap
					li.now
						.date 17
						.month MAY
							br
							| 2017
						.author by hsiunghsi
					li
						.date 17
						.month MAY
							br
							| 2017
						.author by Eason
					li
						.date 11
						.month MAY
							br
							| 2017
						.author by Sandra
					li
						.date 11
						.month MAY
							br
							| 2017
						.author by Alec
				ul.main
					li.now
						.atitleWrap.showOnScroll(data-show-offset='100', data-show-animation='custom_fadeinup')
							a.atitle(data-module='dotdotdot', href='https://www.juksy.com/archives/66011', target='_blank')
								h3 回家真好！看邵雨薇詮釋 3 種「最 Dope 宅女」情境 你最喜歡哪一種？
						.detail.showOnScroll(data-show-offset='100', data-show-animation='custom_fadeinup', data-module='dotdotdot') 小時候總是特別想到外頭去冒險，直到後來，我們都在不知不覺中長大了，開始忙碌工作、努力扮演好各種角色，喘不過氣的那些瞬間，才發現自己最掛念的就是「家」，那裡沒有人會笑你素顏，也沒有人在乎你醜陋的睡姿，只要做自己就好，所以家的溫暖你一定比誰都懂，現在就跟著邵雨薇一起脫掉包袱，回家吧！你知道的，回家才是一件很Dope 的事。 
						a.button.showOnScroll(data-show-offset='100', data-show-animation='custom_fadeinup', href='https://www.juksy.com/archives/66011', target='_blank') Read More >>
					li
						.atitleWrap.showOnScroll(data-show-offset='100', data-show-animation='custom_fadeinup')
							a.atitle(data-module='dotdotdot', href='https://www.juksy.com/archives/65288', target='_blank')
								h3 激情後癱軟？吳慷仁「激烈熱吻」嚇壞邵雨薇：我自己也忍不住了！
						.detail.showOnScroll(data-show-offset='100', data-show-animation='custom_fadeinup', data-module='dotdotdot') 「因為一部戲愛上一個人，也許愛上的只是葉真真。」這句話讓邵雨薇心情有些複雜。但換個角度想，其實邵雨薇演活了葉真真，成功將這角色注入自己的靈魂！
						a.button.showOnScroll(data-show-offset='100', data-show-animation='custom_fadeinup', href='https://www.juksy.com/archives/65288', target='_blank') Read More >>
					li
						.atitleWrap.showOnScroll(data-show-offset='100', data-show-animation='custom_fadeinup')
							a.atitle(data-module='dotdotdot', href='https://www.juksy.com/archives/64816', target='_blank')
								h3 兄弟本色自爆私下最愛玩「這個」！張震嶽語出驚人：什麼都玩就是不玩女人？！
						.detail.showOnScroll(data-show-offset='100', data-show-animation='custom_fadeinup', data-module='dotdotdot') 「華語嘻哈饒舌」可說是越來越夯，由張震嶽、熱狗、頑童 MJ116 組成的「兄弟本色」，巡迴演唱會將在4月底唱回台北小巨蛋，2 萬多張門票在 4 分鐘就秒殺，足以可見他們的超高人氣！不過對「兄弟本色」這個團體不戀棧的他們，演唱會後即將回歸「單身」、回歸自己的崗位，堅持做出屬於自己的音樂！ 
						a.button.showOnScroll(data-show-offset='100', data-show-animation='custom_fadeinup', href='https://www.juksy.com/archives/64816', target='_blank') Read More >>
					li
						.atitleWrap.showOnScroll(data-show-offset='100', data-show-animation='custom_fadeinup')
							a.atitle(data-module='dotdotdot', href='https://www.juksy.com/archives/65168', target='_blank')
								h3 耍狠、耍懶一次到位！兄弟本色直接示範 2 種穿搭風格
						.detail.showOnScroll(data-show-offset='100', data-show-animation='custom_fadeinup', data-module='dotdotdot') 懶惰身為人的天性，卻也是進步的原動力！像是就穿搭來講，如何搭的簡單又好看，絕對是每個人都想學的。畢竟在趕時間的時侯，隨手抓起衣服套上，出門仍被稱讚：「好好看喔！」光是這點，就能看出懶惰穿搭的重要性！
						a.button.showOnScroll(data-show-offset='100', data-show-animation='custom_fadeinup', href='https://www.juksy.com/archives/65168', target='_blank') Read More >>
			.navWrap
				.nav
					.btn.left.end <
					.number
						span.now 1
						| /
						span.total 2
					.btn.right >
// list09 end